* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* overflow: hidden; */
  min-height: 90vh;
  background: #eb5757;
  background: linear-gradient(to bottom, #000000, #a73030);
}
section {
  width: 80%;
  margin-top: 8%;
}
